[Unit]
Description=Automatic Brightness

PartOf=graphical-session.target

[Service]
Type=exec
ExecStart=autobright

[Install]
WantedBy=graphical-session.target
